<!--img src="assets/images/contact1.jpg" class="headerImg" alt="IT Solution"-->
<div class="headerSection">
    <h1>
        CONTACT US</h1>
</div>

<div class="c-row">
    <div class="c-column social">
        <div class="contact-info">
            <span class="contact-info">
                <p class="text-contact text-sm">
                    <img src="assets/icon/contact/mail.svg" class="iconlist" alt="IT Solution"><a
                        href="mailto:gosolutuons@gmail.com" class="gray-med">gosolutuons@gmail.com</a>
                </p>
            </span>
            <span class="contact-info">
                <p class="text-contact text-sm">
                    <img src="assets/icon/contact/phone.svg" class="iconlist" alt="IT Solution"><span class="gray-med">(803)777-9311</span>
                </p>
            </span>
            <span class="contact-info">
                <p class="text-contact text-sm"><a href="https://twitter.com/" target="_blank" rel="noopener"
                        class="gray-med"><img src="assets/icon/contact/twitter.svg" class="iconlist"
                            alt="Guide On Solutions">@GoSolutions</a></p>
            </span>
            <span class="contact-info__list icon- linkedin gray text-sm mb-lg-30 mb-md-20 mb-sm-20 mb-xs-20">
                <p class="text-contact text-sm"><a href="" target="_blank" rel="noopener" class="gray-med"><img
                            src="assets/icon/contact/linkedin.svg" class="iconlist"
                            alt="Guide On Solutions">linkedin.com/company/gosolutions</a></p>
            </span>
            <span class="contact-info__list icon- facebook gray text-sm mb-lg-30 mb-md-20 mb-sm-20 mb-xs-20">
                <p class="text-contact text-sm"><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                        class="gray-med"><img src="assets/icon/contact/facebook.svg" class="iconlist"
                            alt="Guide On Solutions">facebook.com/gosolution</a></p>
            </span>
        </div>
    </div>
    <div class="mail">
        <mat-card class="content">
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>First Name:</mat-label>
                    <input id="firstname" name="firstname" matInput placeholder="Your first name">
                    <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name:</mat-label>
                    <input id="lastname" name="lastname" matInput placeholder="Your last name">
                    <mat-icon matSuffix>person_outline</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Email Address:</mat-label>
                    <input id="email" name="email" matInput placeholder="Your email">
                    <mat-icon matSuffix>mail_outline</mat-icon>
                    <mat-hint>Input the fully qualified email address</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Phone Number:</mat-label>
                    <input id="phone" name="phone" matInput placeholder="Your Phone">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-hint>Phone number with Country code</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <textarea matInput placeholder="Enter your Message here"></textarea>
                </mat-form-field>
            </p>
            <p>
                <button mat-raised-button class="button w-line-block">Submit</button>
            </p>
        </mat-card>
    </div>

</div>