<img src="../../assets/images/services3.jpg" class="headerImg" alt="IT Solution">
<div class="sectionHeader">
    <div class="heading-jumbo-small">Services</div>
</div>

<div class="services" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <ng-container>
        <mat-card class="cardServices" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
            <div class="zoom"><a routerLink="/it"><img src="../../assets/icon/it-orange.png" class="icons" alt="Information Technology"></a></div>
            <mat-card-content>
                <div class="sub"><h3>Information Technology</h3></div>
                <p>
                    The best support prevents issues before they occur. Turn support into a strategic advantage.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="cardServices" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
            <div class="zoom"><a routerLink="/cp"><img src="../../assets/icon/computer-programming-orange.png" class="icons" alt="Software Engineering"></a></div>
            <mat-card-content>
                <h3>Software Engineering</h3>
                <p>
                    The best support prevents issues before they occur. Turn support into a strategic advantage.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="cardServices" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
            <div class="zoom"><a routerLink="/jan"><img src="../../assets/icon/janitor-orange.png" class="icons" alt="Janitorial Service"></a></div>
            <mat-card-content>
                <h3>Janitorial</h3>
                <p>
                    The best support prevents issues before they occur. Turn support into a strategic advantage.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="cardServices" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
            <div class="zoom"><a routerLink="/ls"><img src="../../assets/icon/lawn-orange.png" class="icons" alt="Lawn Service"></a></div>
            <mat-card-content>
                <h3>Lawn Service</h3>
                <p>
                    The best support prevents issues before they occur. Turn support into a strategic advantage.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="cardServices" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
            <div class="zoom"><a routerLink="/trans"><img src="../../assets/icon/bus-orange.png" class="icons" alt="Transportation Service"></a></div>
            <mat-card-content>
                <h3>Transportation</h3>
                <p>
                    The best support prevents issues before they occur. Turn support into a strategic advantage.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="cardServices" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
            <div class="zoom"><a routerLink="/ct"><img src="../../assets/icon/training-orange.png" class="icons" alt="Computer Training"></a></div>
            <mat-card-content>
                <h3>Computer Training</h3>
                <p>
                    The best support prevents issues before they occur. Turn support into a strategic advantage.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="cardServices" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
            <div class="zoom"><a routerLink="/pc"><img src="../../assets/icon/pest-orange.png" class="icons" alt="Pest Control Service"></a></div>
            <mat-card-content>
                <h3>Pest Control</h3>
                <p>
                    The best support prevents issues before they occur. Turn support into a strategic advantage.
                </p>
            </mat-card-content>
        </mat-card>

    </ng-container>
</div>