<ngb-carousel>
    <ng-template ngbSlide>
        <mat-video title="Guide On Solutions" src="../../../assets/media/gosscientist.mp4" [autoplay]="true"
            [preload]="true" [fullscreen]="false" [download]="false" color="accent" spinner="spin" class="welcomeVideo">
        </mat-video>
    </ng-template>
    <ng-template ngbSlide>
        <img src="../../assets/images/office1.jpg" class="home-image" alt="IT Solution">
        <div class="carousel-caption">
            <h2 style="color: #ffffff">We Bring Solutions to you</h2>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="../../assets/images/office2.jpg" class="home-image" alt="Diversity">
        <div class="carousel-caption">
            <h2 style="color: #ffffff">Diversity For All</h2>
        </div>
    </ng-template>
</ngb-carousel>
<div class="section cc-store-home-wrap">
    <div class="container">
        <div class="motto-wrap">
            <div class="label cc-light">WHAT WE BELEIVE IN</div>
            <div class="heading-jumbo-small mom">Let us be a part of the Solution! <br>Dedication - Loyalty - Respect -
                Integrity - Quality</div>
        </div>
        <div class="divider"></div>
        <div class="home-content-wrap">
            <div class="w-layout-grid about-grid">
                <div id="w-node-4d34-9597">
                    <div class="home-section-wrap">
                        <div class="label cc-light">About</div>
                        <h2 class="section-heading">Who we are</h2>
                        <p class="paragraph-light">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                    </div>
                    <button mat-raised-button class="button w-line-block">Learn More</button>
                </div><img src="https://dummyimage.com/600x400/000/fff" id="w-node-4d3f-9597">
            </div>
            <div class="w-layout-grid about-grid cc-about-2">
                <div id="w-node-4d41-9597">
                    <div class="home-section-wrap">
                        <div class="label cc-light">Team</div>
                        <h2 class="section-heading">What we do</h2>
                        <p class="paragraph-light">It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                            that it
                            has a more-or-less normal distribution of letters, as opposed to using 'Content here</p>
                    </div>
                    <button mat-raised-button class="button w-line-block">Learn More</button>
                </div><img src="https://dummyimage.com/600x400/000/fff" id="w-node-4d4c-9597">
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="divider"></div>
            <div class="blog-heading">
                <h2 class="working-heading">Featured Services</h2>
            </div>

            <div class="collection-list=wrapper w-dyn-list">
                <div class="collection-wrap w-dyn-list">
                    <div class="blog-preview-wrap w-dyn-item">
                        <mat-card class="featured-card">
                            <mat-card-content>
                                <img mat-card-image src="../../assets/images/programming.jpg"
                                    alt="Computer Programming">
                                <div class="cardDiscription">
                                    <h2>Software Engineering</h2>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <a mat-button href="https://www.google.com/" target="_blank">Learn More</a>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                    <div class="blog-preview-wrap w-dyn-item">
                        <mat-card class="featured-card">
                            <mat-card-content>
                                <img mat-card-image src="../../assets/images/training.jpg" alt="Computer Training">
                                <div class="cardDiscription">
                                    <h2>Computer Training</h2>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <a mat-button href="https://www.google.com/" target="_blank">Learn More</a>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section cc-cta">
        <div class="container">
            <div class="cta-wrap">
                <div class="cta-text">
                    <div class="heading-jumbo-small">Get started today!!!</div>
                </div>
            </div>
        </div>
    </div>
</div>